/* ==UserStyle==
@name           Google 2009 style
@namespace      github.com/toiletflusher/google2009
@version        1.0.0
@description    Brings back 2009 Google on WAP Google version
@author         techsalt on winclassic, toiletflusher on github, WindowsUserOG on reddit.
==/UserStyle== */
@-moz-document url-prefix("https://www.google.com") {
    img#hplogo {
        margin-top: 20px !important;
        margin-bottom: 20px !important;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        background: url(https://www.google.com/intl/en_ALL/images/logo.gif) no-repeat;
        width: 276px;
        height: 110px;
        padding-left: 276px;
    }

    div table {
        border-bottom: 1px solid #c9d7f1;
        padding-left: 5px;
        padding-bottom: 2px;
        margin-top: 0px;
    }

    div table a:last-of-type {
        position: relative;
    }

    div table tr td[style="text-align:left"] a:last-of-type::after {
        bottom: 0;
        color: currentColor;
        content: '▼';
        position: absolute;
        transform: translate(-100%, 0);
        background-color: white !important;
        font-size: 8pt !important;
        margin-left: 4px !important;
        padding-left: 4px
    }


    input#lst-ib {
        font-family: Arial;
        font-size: 12pt;
        width: 531px !important;
        margin-bottom: 6px !important;
        padding-top: 2px !important;
        padding-bottom: 1px !important;
    }

    form div input[type=submit][name=btnG]:not(#lst-ib) {
        font-size: 11pt;
        font-family: Arial;
        padding-top: 3px;
        padding-bottom: 3px;
        margin-bottom: 40px;
    }

    body {
        margin: 0px;
        margin-top: 1px;
        background-color: white !important;
    }

    #p4ecBe {
        font-size: 10pt !important;
    }

    div div a {
        font-size: 10pt !important;
    }

    #p4ecBe {
        position: absolute;
        top: 0px;
        text-align: right !important;
        max-width: 100% !important;
        width: max-content !important;
        display: block !important;
        padding-top: 3px !important;
        right: 8px
    }

    #BK8Sp {
        text-transform: lowercase;
    }

    /* 404 */
    span#logo {
        display: block;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        background: url(https://www.google.com/intl/en_ALL/images/nav_logo.png) no-repeat;
        background-position: 0px -26px;
        width: 150px;
        height: 54px;
        padding-left: 150px;
    }

    div table[width="100%"] tr td[style="text-align:left"][width="80%"] a:last-of-type {
        text-transform: lowercase !important;
    }
    
    a:link,
    a:active,
    a:visited {
        color: #0000CC !important;
    }
}

@-moz-document url-prefix("https://www.google.com/search") {
    body {
        font-family: Arial, sans-serif;
        padding: 8px;
        margin: 0;
        max-width: 700px;
        min-width: 240px;
    }
    .uZgmoc {
        border: thin solid #dadce0;
        color: #70757a;
        font-size: 12px;
        text-align: center;
        table-layout: fixed;
        width: 100%
    }
    .frGj1b {
        display: block;
        padding: 8px 0 8px 0;
        width: 100%
    }

    * {
        border: revert !important;
    }

    EY24We table.euZec td {
        padding: unset;
        width: max-content;
    }

    .euZec {
        all: revert;
    }

    a:not(div.ezO2md a.fuLhoc.ZWRArf) {
        all: revert;
    }

    div.ezO2md a.fuLhoc.ZWRArf .CVA68e {
        border-bottom: 1px solid currentColor !important;
        max-width: max-content !important;
    }

    .xB0fq {
        all: revert;
        font-family: Arial !important;
        font-size: 11pt !important;
        padding-top: 3px !important;
        padding-bottom: 3px !important;
        margin-top: -2px !important;
    }

    .O1ePr {
        all: revert;
    }

    .O1ePr * {
        all: revert;
    }

    .QIqI7 {
        all: revert;
        font-weight: bold;
        color: black;
    }

    table.euZec td {
        all: revert;
    }

    .O4cRJf {
        all: revert;
    }

    .MhzMZd {
        margin-left: 5px !important;
        all: revert;
        font-family: Arial !important;
        font-size: 17px !important;
        margin-top: -2px !important;
    }

    * {
        border: revert;
    }

    .M7pB2 {
        height: revert;
    }

    .MhzMZd {
        width: 399px !important;
    }

    .M7pB2 {
        margin-top: 15px !important;
        border-top: 1px solid #6b90da !important;
        background: #f0f7f9;
        margin-bottom: 16px !important;
    }

    .M7pB2 a {
        all: revert;
    }

    .FbhRzb {
        height: revert;
        margin-top: 8px !important;
        margin-bottom: 24px !important;
    }
    .cvifge {
        margin-top: 10px !important;
    }

    .euZec {
        padding-top: 2px !important;
        padding-bottom: 2px !important;
        padding-left: 4px !important;
        font-size: 10pt;
        font-family: arial, sans-serif
    }

    .O4cRJf {
        padding-right: 8px !important;
    }


    .uZgmoc {
        margin-top: 15px !important;
        border-top: 1px solid #6b90da !important;
        background: #f0f7f9;
    }

    .TuS8Ad {
        margin-top: 0px !important;
        padding-bottom: 5px !important;
        border-bottom: 1px solid #6b90da !important;
        background: #f0f7f9;
    }




    .euZec * {
        text-transform: lowercase !important;
        font-family: Arial !important;
    }

    .euZec *:first-letter {
        text-transform: uppercase !important;
    }

    .euZec td {
        padding-right: 5px !important;
    }

    tr .Y0aAmf {
        display: none !important;
    }

    .ezO2md {
        font-family: Arial !important;
        font-size: 10pt !important;
    }

    .CVA68e {
        color: #20c !important;
        font-size: 12pt !important;
    }

    .fuLhoc span.fYyStc {
        color: green !important;
        font-size: 9.5pt;
        text-decoration-color: white !important;
    }

    .fuLhoc span.CVA68e.qXLe6d.fuLhoc.ZWRArf {
        font-size: 12pt !important;
    }
    
    body {
        max-width: 1024px !important;
        margin-left: 8px !important;
    }

    .TuS8Ad * {
        color: revert !important;
    }

    a.M3vVJe {
        color: revert !important;
    }

    .uZgmoc {
        font-size: 12pt !important;
    }

    .TuS8Ad {
        font-size: 12pt !important;
    }

    img.kgJEQe {
        display: block;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        background: url(https://www.google.com/intl/en_ALL/images/nav_logo7.png) no-repeat;
        background-position: 0px -26px;
        width: 103px;
        height: 38px;
        padding-left: 103px;
        margin-left: -6px !important;
        margin-right: 2px !important;
    }

    * br:not(.ezO2md br) {
        display: none !important;
    }


    .ZuwI5d {
        margin-top: 0px !important;
        border-top: 1px solid #fad163 !important;
    }

    .AS66f,
    .aAhEM,
    .omMllc,
    .ZuwI5d {
        background: #fff7d7;
    }

    .jh5mRe {
        border-bottom: 1px solid #fad163 !important;
    }

    .qXLe6d.x3G5ab:not(.ZuwI5d tbody tr td .qXLe6d.x3G5ab),
    .VeHcBf {
        padding-top: 4px;
        background: #f0f7f9;
    }

    .qXLe6d.F9iS2e:not(.ZuwI5d tbody tr td *),
    .Fj3V3b,
    .dBt03e {
        background: #f0f7f9;
        display: block;
        min-width: 100% !important;
        width: 100% !important;
        max-width: 100% !important;
    }

    .qXLe6d.x3G5ab:not(.ZuwI5d tbody tr td .qXLe6d.x3G5ab) {
        border-top: 1px solid #6b90da !important;
    }

    .ezO2md {
        max-width: 1028px !important;
    }


    .frGj1b {}
}

@-moz-document url-prefix("https://www.google.com/imgres") {
    * {
        font-family: Arial !important;
    }

    span.il-ls {
        display: none !important;
    }

    a[href="/imghp"] img {
        display: block;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        background: url(https://www.google.com/intl/en_ALL/images/logos/images_logo.gif) no-repeat;
        width: 194px;
        height: 40px;
        padding-left: 194px;
    }
}

@-moz-document url-prefix("https://www.google.com/preferences") {
    div[style="font-weight:bold;margin:2px 0 4px;padding:2px 2px 4px 5px;background-color:#e8f0fe;border-top:1px solid #4285f4"] {
        all: revert !important;
        font-weight: bold !important;
        font-size: 12pt !important;
        margin-bottom: 2px !important;
        margin-top: 2px !important;
    }

    div[style="margin:2px 0 4px;padding:2px 2px 4px 5px"] {
        position: relative !important;
    }

    div[style="margin-top:4px;padding:4px;text-align:center;background-color:#d2e3fc;border-bottom:1px solid #1558d6;border-top:1px solid #1558d6"] {
        text-align: right !important;
        border: unset !important;
    }

    div[style="font-size:small"] span[style="font-weight:bold"] {
        display: block !important;
        width: 150px !important;
        margin-bottom: -30px;
    }

    div[style="margin:2px 0 4px;padding:2px 2px 4px 5px"] div {
        width: 150px !important;
    }

    div [style="margin:2px 0 4px;padding:2px 2px 4px 5px"] div[style="margin:2px 0"] {
        position: relative !important;
        bottom: 30px !important;
    }

    div[style="margin-left:11px"],
    div[style="margin:2px 0"] {
        position: relative !important;
        margin-left: 150px !important;
        bottom: 15px !important;
        min-width: max-content !important;
        max-width: max-content !important;
        width: max-content !important;
    }

    div[style="display:inline"] img[style="border:0 none;vertical-align:middle"] {
        margin-top: 5px !important;
        margin-left: 5px !important;
        display: block;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        background: url(https://www.google.com/intl/en_ALL/images/nav_logo.png) no-repeat;
        background-position: 0px -26px;
        width: 150px;
        height: 54px;
        padding-left: 150px;
    }
}
