body {
	font-family: Arial, sans-serif;
	padding: 8px;
	margin: 0;
	max-width: 700px;
	min-width: 240px;
}


.uZgmoc {
	border: thin solid #dadce0;
	color: #70757a;
	font-size: 12px;
	text-align: center;
	table-layout: fixed;
	width: 100%
}

.frGj1b {
	display: block;
	padding: 8px 0 8px 0;
	width: 100%
}

.FbhRzb,.ezO2md,.M7pB2,.uZgmoc,.euZec,.cvifge,.VeHcBf {
 border-left:initial !important;
 border-right:initial !important;
 border-top:initial !important;
 border-bottom:initial !important;
}

EY24We table.euZec td {
	padding: unset;
	width: max-content;
}

.euZec {
	width: initial;
}

a:not(div.ezO2md a.fuLhoc.ZWRArf) {
	text-decoration: underline !important;
}

div.ezO2md a.fuLhoc.ZWRArf .CVA68e {
	border-bottom: 1px solid currentColor !important;
	max-width: max-content !important;
}

.xB0fq {
	font-family: Arial !important;
	font-size: 11pt !important;
	padding-top: 3px !important;
	padding-bottom: 3px !important;
	margin-top: -2px !important;
}

.O1ePr {
	all: revert;
}

.O1ePr * {
	all: revert;
}

.QIqI7 {
	all: revert;
	font-weight: bold;
	color: black;
}

table.euZec td {
	all: revert;
}

.O4cRJf {
	all: revert;
}

.MhzMZd {
	margin-left: 5px !important;
	all: revert;
	font-family: Arial !important;
	font-size: 17px !important;
	margin-top: -2px !important;
	width: 431px !important;
}

* {
	border: revert;
}

.M7pB2 {
	height: revert;
}

.MhzMZd {
	width: 399px !important;
}

.M7pB2 {
	margin-top: 15px !important;
	border-top: 1px solid #6b90da !important;
	background: #f0f7f9;
	margin-bottom: 16px !important;
}

.FbhRzb {
	height: initial;
	margin-top: 8px !important;
	margin-bottom: 24px !important;
}
.cvifge {
	margin-top: 10px !important;
}

.euZec {
	padding-top: 2px !important;
	padding-bottom: 2px !important;
	padding-left: 4px !important;
	font-size: 10pt;
	font-family: arial, sans-serif
}

.O4cRJf {
	padding-right: 8px !important;
}


.uZgmoc {
	margin-top: 15px !important;
	border-top: 1px solid #6b90da !important;
	background: #f0f7f9;
}

.TuS8Ad {
	margin-top: 0px !important;
	padding-bottom: 5px !important;
	border-bottom: 1px solid #6b90da !important;
	background: #f0f7f9;
}




.euZec * {
	text-transform: lowercase !important;
	font-family: Arial !important;
}

.euZec *:first-letter {
	text-transform: uppercase !important;
}

.euZec td {
	padding-right: 5px !important;
}

tr .Y0aAmf {
	display: none !important;
}

.ezO2md {
	font-family: Arial !important;
	font-size: 10pt !important;
}

.CVA68e {
	color: #20c !important;
	font-size: 12pt !important;
}


.fuLhoc span.fYyStc {
	color: green !important;
	font-size: 9.5pt;
	text-decoration-color: white !important;
}

.fuLhoc span.CVA68e.qXLe6d.fuLhoc.ZWRArf {
	font-size: 12pt !important;
}

body {
	min-width: 1024px !important;
	max-width: 1024px !important;
	margin-left: 8px !important;
}

.TuS8Ad * {
	color: initial !important;
}

a.M3vVJe {
	color: blue !important;
}

.uZgmoc {
	font-size: 12pt !important;
}

.TuS8Ad {
	font-size: 12pt !important;
}

img.kgJEQe {
	display: block;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background: url(https://www.google.com/intl/en_ALL/images/nav_logo7.png) no-repeat;
	background-position: 0px -26px;
	width: 103px;
	height: 38px;
	padding-left: 103px;
	margin-left: -6px !important;
	margin-right: 2px !important;
}

* br:not(.ezO2md br) {
	display: none !important;
}


.ZuwI5d {
	margin-top: 0px !important;
	border-top: 1px solid #fad163 !important;
}

.AS66f,
.aAhEM,
.omMllc,
.ZuwI5d {
	background: #fff7d7 !important
}

.jh5mRe {
	border-bottom: 1px solid #fad163 !important;
}

.qXLe6d.x3G5ab:not(.ZuwI5d tbody tr td .qXLe6d.x3G5ab),
.VeHcBf {
	padding-top: 4px;
	background: #f0f7f9 !important;
}

.qXLe6d.F9iS2e:not(.ZuwI5d tbody tr td *, .Mw6wOc *),
.Fj3V3b,
.dBt03e {
	background: #f0f7f9 !important;
	display: block;
	min-width: 100% !important;
	width: 100% !important;
	max-width: 100% !important;
}

.qXLe6d.x3G5ab:not(.ZuwI5d tbody tr td .qXLe6d.x3G5ab) {
	border-top: 1px solid #6b90da !important;
}

.ezO2md {
	max-width: 1028px !important;
}


.Dks9wf .KZhhub {
	display: contents;
}

.Dks9wf .KZhhub .udTCfd {
	padding: 0px;
}

div.Dks9wf td.udTCfd div div span.qXLe6d.FrIlee span.fYyStc.YVIcad:first-of-type {
	color: black !important;
	display: inline;
}

div.Dks9wf td.udTCfd div div span.qXLe6d.FrIlee span.fYyStc.YVIcad:after {
	content: ' ...';
	font-weight: bold;
}


.nQvrDb .mnTahd .lIMUZd div .EnarA {
	min-width: 250px;
}
