/* ==UserStyle==
@name           Google 2009 style
@namespace      github.com/toiletflusher/google2009
@version        1.0.0
@description    Brings back 2009 Google on WAP Google version
@author         techsalt on winclassic, toiletflusher on github, WindowsUserOG on reddit.
==/UserStyle== */

@-moz-document url-prefix("https://www.google.com") {
    img#hplogo {
        margin-top: 20px !important;
        margin-bottom: 20px !important;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        background: url(https://www.google.com/intl/en_ALL/images/logo.gif) no-repeat;
        width: 276px;
        height: 110px;
        padding-left: 276px;
    }

    div table {
        border-bottom: 1px solid #c9d7f1;
        padding-left: 5px;
        padding-bottom: 2px;
        margin-top: 0px;
    }


    input#lst-ib {
        width: 531px !important;
        margin-bottom: 5px !important;
    }

    form div input:not(#lst-ib) {
        font-size: 12pt;
        font-family: Arial;
    }

    body {
        margin: 0px;
        margin-top: 1px;
    }
    
    #p4ecBe {
        font-size: 10pt !important;
    }
    
    div div a {
        font-size: 10pt !important;
    }
    
    #p4ecBe {
        position: absolute;
        top: 0px;
        text-align: right !important;
        max-width: 100% !important;
        width: max-content !important;
        display: block !important;
        padding-top: 3px !important;
        right: 8px
    }
    
    #BK8Sp {
        text-transform: lowercase;
    }
    
}

@-moz-document url-prefix("https://www.google.com/search") {
    body {
        font-family: Arial, sans-serif;
        padding: 8px;
        margin: 0;
        max-width: 700px;
        min-width: 240px;
    }
    .uZgmoc {
        border: thin solid #dadce0;
        color: #70757a;
        font-size: 12px;
        text-align: center;
        table-layout: fixed;
        width: 100%
    }
    .frGj1b {
        display: block;
        padding: 8px 0 8px 0;
        width: 100%
    }

    * {
        border: revert !important;
    }

    EY24We table.euZec td {
        padding: unset;
        width: max-content;
    }

    .euZec {
        all: revert;
    }

    a {
        all: revert;
    }

    .xB0fq {
        all: revert;
    }

    .O1ePr {
        all: revert;
    }

    .O1ePr * {
        all: revert;
    }

    .QIqI7 {
        all: revert;
        font-weight: bold;
    }

    table.euZec td {
        all: revert;
    }

    .O4cRJf {
        all: revert;
    }

    .MhzMZd {
        all: revert;
    }

    * {
        border: revert;
    }

    .M7pB2 {
        height: revert;
    }

    .MhzMZd {
        width: 405px !important;
    }

    .M7pB2 {
        margin-top: 15px !important;
        border-top: 1px solid #6b90da !important;
        background: #f0f7f9;
    }

    .M7pB2 a {
        all: revert;
    }

    .FbhRzb {
        height: revert;
    }
    .cvifge {
        margin-top: 10px !important;
    }

    .euZec {
        padding-top: 2px !important;
        padding-bottom: 2px !important;
        padding-left: 4px !important;
        font-size: 10pt;
        font-family: arial, sans-serif
    }

    .O4cRJf {
        padding-right: 8px !important;
    }


    .uZgmoc {
        margin-top: 15px !important;
        border-top: 1px solid #6b90da !important;
        background: #f0f7f9;
    }

    .TuS8Ad {
        margin-top: 0px !important;
        padding-bottom: 5px !important;
        border-bottom: 1px solid #6b90da !important;
        background: #f0f7f9;
    }




    .euZec * {
        text-transform: lowercase !important;
        font-family: Arial !important;
    }

    .euZec *:first-letter {
        text-transform: uppercase !important;
    }

    .euZec td {
        padding-right: 5px !important;
    }

    tr .Y0aAmf {
        display: none !important;
    }

    .ezO2md {
        font-family: Arial !important;
        font-size: 10pt !important;
    }

    .CVA68e {
        color: #20c !important;
        font-size: 12pt !important;
    }

    .fuLhoc span.fYyStc {
        color: green !important;
        text-decoration: none !important;
    }

    body {
        max-width: 1024px !important;
    }

    .TuS8Ad * {
        color: revert !important;
    }

    a.M3vVJe {
        color: revert !important;
    }

    .uZgmoc {
        font-size: 12pt !important;
    }

    .TuS8Ad {
        font-size: 12pt !important;
    }

    img.kgJEQe {
        display: block;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        background: url(https://www.google.com/intl/en_ALL/images/nav_logo7.png) no-repeat;
        background-position: 0px -26px;
        width: 103px;
        height: 38px;
        padding-left: 103px;
    }

    * br:not(.ezO2md br) {
        display: none !important;
    }
    
    
    .ZuwI5d {
        margin-top: 0px !important;
        border-top: 1px solid #fad163 !important;
    }

    .AS66f,
    .aAhEM,
    .omMllc,
    .ZuwI5d {
        background: #fff7d7;
    }

    .jh5mRe {
        border-bottom: 1px solid #fad163 !important;
    }

    .qXLe6d.x3G5ab:not(.ZuwI5d tbody tr td .qXLe6d.x3G5ab),
    .VeHcBf {
        padding-top: 4px;
        background: #f0f7f9;
    }

    .qXLe6d.F9iS2e:not(.ZuwI5d tbody tr td *),
    .Fj3V3b,
    .dBt03e {
        background: #f0f7f9;
        display: block;
        min-width: 100% !important;
        width: 100% !important;
        max-width: 100% !important;
    }

    .qXLe6d.x3G5ab:not(.ZuwI5d tbody tr td .qXLe6d.x3G5ab) {
        border-top: 1px solid #6b90da !important;
    }
    
    .ezO2md {
        max-width: 1028px !important;
    }
    

}

@-moz-document url-prefix("https://www.google.com/imgres") {
    * {
        font-family: Arial !important;
    }
    
    span.il-ls {
        display: none !important;
    }
    
    a[href="/imghp"] img {
        display: block;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        background: url(https://www.google.com/intl/en_ALL/images/logos/images_logo.gif) no-repeat;
        width: 194px;
        height: 40px;
        padding-left: 194px;
    }
    
   
}
